@import "compass";
@import "bootstrap/_variables";


///// general configuration /////

$color-theme:                               #000;
$color-secondary:                           #ccc;


$color-font:                                #666;
$a-font-body:                               $color-theme;
$a-hover-font-body:                         #888;

$border-color:                              #ddd;
$bg-table-head:                             #f0f0f0; // #color or none

$font-icon:                         		"FontAwesome";
$font-custom:                               'Roboto', sans-serif; 

$body-bg:                                   url("../image/bg_body.jpg") repeat left top; // none,  #color or url("../image/your_bg.jpg") no-repeat center fixed; or none 
$body-bg-cover:                             none; // if background-image --> true or none

$full-boxed :                               true; // boxed== true , full == none
$bg-page:                                   #fff; // #color or none (if bg_page && full-boxed == none --> add padding to container)
$bg-page-shadow:                            none; // none or exemple : 0 1px 2px rgba(0, 0, 0, 0.15) 


$body-bg-mobile:                            none; // #color or url("../image/your_bg.jpg") no-repeat center fixed; or none  

// column center //
$bg-content:                                none; // #color or none     

//bg-content != none //
$bg-content-radius:                         none ;// px, $border-radius-base or none 
$bg-content-shadow:                         0 1px 2px rgba(0, 0, 0, 0.15) ; // none or exemple : 0 1px 2px rgba(0, 0, 0, 0.15)  

//----- btn -----//

// button //
$btn_default :                              $color-secondary;              
$btn_default_hover :                        darken($color-secondary,5%);
$btn_default_color:                         #888;
$btn_default-style:                         btn-style-3 ; //none, btn-style-1, btn-style-2, btn-style-3

$btn_primary :                              $color-theme;              
$btn_primary_hover :                        lighten($color-theme,10%);
$btn_primary_color:                         #000;
$btn_primary-style:                         btn-style-3 ; //none, btn-style-1, btn-style-2, btn-style-3

$btn_search :                              #fff;              
$btn_search_hover :                        $color-secondary;
$btn_search_color:                         $color-theme;

$btn_rapidtop :                            $color-secondary;              
$btn_rapidtop_hover :                      darken($color-secondary,5%);
$btn_rapidtop_color:                       #888;

// option gradient //
$type-gradient:                             linear-gradient(rgba(255, 255, 255, 0.4) , rgba(255, 255, 255, 0) );

$menu-gradient:                             none; // true or none
$button-gradient:                           none; // true or none
$title-block-gradient:                      none; // true or none

// option text shadow //
$type-text-shadow:                          -1px -1px rgba(0, 0, 0, 0.2);

$menu-text-shadow:                          none; // true or none
$button-text-shadow:                        none; // true or none
$title-block-text-shadow:                   none; // true or none


//well//
$bg-well :                                  $bg-table-head;
$border-width-well :                        0px ; // 1px 0 1px 0 
$box-shadow-well :                          none ; // true or none

//panel//
$panel-heading-bg:                          #f0f0f0;
$panel-heading-color:                       #333;
$panel-border-bottom-color:                 none;  //  px solid #color  or none   
    
///// ---Header configuration--- /////

//top//

$bg-top:                                    $color-theme;
$border-top-width:                          none; // 1px or none 
$border-top-color:                          none; 
$color-top:                                 #ccc;
$color-hover-top:                           #fff;
$text-shadow-top:                           none; // 0 1px 0 #color or none

$boxed-top:                                 none ; // true or none

//reglage top margins (logos, search, cart)//
$logo-margin :                              10px 0;
$top-block-margin :                         20px;

//content header//

$bg-header:                                 none; //  #color  
$color-header:                              $color-theme; //  #color 
$hover-color-header:                        $a-hover-font-body; //  #color

// Cart and Info blocks //

$icon-position:                             left ; // left or right
$icon-decoration:                           none ; // none, square or circle
$icon-bg:                                   $color-secondary; 
$icon-color:                                $color-theme; //#color or none 
$show-icon-info:                            true; // true or none

$shopping-cart-bg:                          none ; // #color or none
$shopping-cart-shadow:                      none; // none or exemple : (0 -3px 0 rgba(0, 0, 0, 0.15) inset);    

//mobile version
$bg-header-mobile:                          $color-theme; // #color 
$color-header-mobile:                       #fff; // #color 
$hover-color-header-mobile:                 $a-hover-font-body; // #color 



//Menu//

$bg-menu :                                  none; // #color                      
$color-link-menu:                           $color-theme; // #color   
$bg-hover-menu:                             none; // #color   
$color-link-hover-menu:                     #bbb; // #color 
$color-link-hover-menu-xl:                  $bg-hover-menu; // #color 

$font-weight-menu :                         normal; // Bold / Normal 
$text-transform-menu :                      uppercase ; 


// option menu//
$menu-full-width:                           none ; // true or none  
$menu-radius:                               none ;// px, $border-radius-base or none   
$menu-shadow:                               none ; // none or exemple : 0 1px 2px rgba(0, 0, 0, 0.15) 
$menu-border-width:                         1px 0 1px 0; // px or none
$menu-border-style:                         solid; // solid, dotted, dashed   
$menu-border-color:                         $color-secondary; 
$border-li-right-menu :                     none; // #color or none
$menu-border-top-ulhover:                   none; // 2px solid #color or none 


/////-------------------------/////

//product-thumb//

$content-bg-tittle :                        #fff; // #color or none  
$content-color-tittle :                     $color-theme;
$content-title-decoration:                  deco-8; //deco-1, deco-2, ...-8
$color-list-price :                         #666;
$color-list-title :                         $color-theme;
$border-list-style :                        none ; // full or boxed or none


$product-thumb-bg-hover:                    $bg-well;
$product-thumb-border-hover:                $color-theme; // only for $border-list-style == none || Boxed 

//--product-thumb left or right --//
$block-bg :                                 none ; // #color or none   
//or
$block-content-bg :                         none ; // #color or none   

$block-radius :                             none ;// px, $border-radius-base or none   
$block-shadow:                              none ; // none or exemple : 0 1px 2px rgba(0, 0, 0, 0.15)  
$block-border:                              none; // #color or none

$block-bg-tittle :                          $content-bg-tittle; // #color or none  
$block-color-tittle :                       $color-theme;
$block-top-radius :                         none ; // px, $border-radius-base or none  
$block-title-decoration:                    deco-4 ; // none, deco-1, deco-2, etc... -4

//pagination
$pagination-color :                         #fff;
$pagination-bg-selected :                   $color-theme;
$pagination-selected-color :                $pagination-color;

//html block
$i-bg-color:                                #fff; // color
$i-color:                                   $color-theme; // color

//Footer
   
$bg-content-footer:                         $color-theme;
$title-color-content-footer:                #fff;
$color-content-footer:                      #fff;
$link-content-footer:                       #fff;
$link-hover-content-footer:                 $color-secondary;

$boxed-footer:                              none ; // true or none  
$border-color-footer:                       none ; // 1px solid #color or none 
$border-width-footer:                       0 0 1px 0; 
$footer-radius:                             none ; // true or none  
$footer-shadow:                             none ; // true or none  
$footer-gradient:                           none ; // true or none 

$bg-content-powered:                        $color-theme ;
$border-content-powered:                    none; // 1px solid #color or none 
$color-content-powered:                     #fff;
$link-content-powered:                      lighten($color-theme,50%);
$link-hover-content-powered:                $color-secondary ;